@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.all {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    padding: 0 120px;
    gap: 15px;
    justify-content: center;
    margin-left: 10%;
}

h1 {
    font-size: 50px;
    color: #3B82F6;
    font-family: 'Roboto Mono';
}

h3 {
    font-size: 35px;
    color: #6c757d;
}

p {
max-width: 600px;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    line-height: 1.7;
    color: #444;
}

